@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">
    <LogOutSucceeded>
        <AuthorizeView>
            <NotAuthorized>
                <div class="row">
                    <div class="col-lg-4 mx-auto text-center">
                        <h4>You have successfully signed out</h4>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string? Action { get; set; }
}
